Time series data is one of the most interesting and essential types of data that we work with.

But dates often can be tricky to deal with.

Thankfully, Pandas comes with an excellent set of methods that we can put to use.

In [2]:
import pandas as pd

To get started I'm going to generate a series of dates

The 'period_range' function in Pandas allow me to do that.

By specifying the starting date, followed by the frequency, and the number of periods, I return a series of dates, which we'll pass into a dataframe.

In [19]:
daterange = pd.period_range ('1/1/2022', freq='30d', periods=4)

date_df = pd.DataFrame(data = daterange, columns = ['sample date'])

Now I have a dataframe with 4 different dates, starting January 1st, 2022, and each is separated by 30 days.

In [20]:
date_df.head()

  sample date
0  2022-01-01
1  2022-01-31
2  2022-03-02
3  2022-04-01

One useful function when working with time series data is the 'diff' function.

Diff will calculate the difference from a prior period. And in this sense operates similar to a SQL lag function.

Let's see the difference from the prior date in my data.

In [21]:
date_df['date difference'] = date_df['sample date'].diff(periods=1)

date_df

  sample date date difference
0  2022-01-01             NaT
1  2022-01-31     <30 * Days>
2  2022-03-02     <30 * Days>
3  2022-04-01     <30 * Days>

Sure enough, my dates are 30 days apart.

Now, often you'll want to take a date and convert it to the first day of the month. Similar to using a date trunc function in SQL.

One easy method is to access the values property of my date column, then use 'astype datetime64' to convert to a data time.

By passing 'M' between the square brackets, our date is now at the first of the month.

In [22]:
date_df['first of month'] = date_df['sample date']. values. astype ('datetime64[M]')

date_df

  sample date date difference first of month
0  2022-01-01             NaT     2022-01-01
1  2022-01-31     <30 * Days>     2022-01-01
2  2022-03-02     <30 * Days>     2022-03-01
3  2022-04-01     <30 * Days>     2022-04-01

Now, let me quickly check my data types.

In [23]:
date_df.dtypes

sample date           period[30D]
date difference            object
first of month     datetime64[ns]
dtype: object

As you can see, my original date is actually a period data type. I'll go ahead and convert that to a datatime64 timestamp, using the 'dt' accessor and the 'to_timestamp' function. This will help with further transformations.

In [24]:
date_df['sample date'] = date_df['sample date'].dt. to_timestamp()
date_df.dtypes

sample date        datetime64[ns]
date difference            object
first of month     datetime64[ns]
dtype: object

Now, if I want to subtract two dates; no special treatment is involved. Just subtract them.

Here I will the number of dates between my date and the first of the month.

In [25]:
date_df['sample date'] - date_df['first of month' ]

0    0 days
1   30 days
2    1 days
3    0 days
dtype: timedelta64[ns]

In a similar way, I can even subtract the date difference from above, and get the expected outcome.

In [26]:
date_df['sample date'] - date_df['date difference']

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/arrays/datetimelike.py:1187: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(

0          NaT
1   2022-01-01
2   2022-01-31
3   2022-03-02
dtype: datetime64[ns]

Similarly, I can use the 'timedelta' function to specify a time spam you I'd like to add, or substract from my date.

In [27]:
date_df['sample date' ] - pd.Timedelta('30 d')

0   2021-12-02
1   2022-01-01
2   2022-01-31
3   2022-03-02
Name: sample date, dtype: datetime64[ns]

Lastly, when working with date data types, Pandas has some several quick tricks accessible with the 'dt' accessor.

Here, I'll return the actual day name corresponding to each of our dates with the 'dt.day_name' function.

In [28]:
date_df['sample date'].dt.day_name()

0     Saturday
1       Monday
2    Wednesday
3       Friday
Name: sample date, dtype: object