In [21]:
import pandas as pd

In [22]:
scores = {'name':['Hugo,', 'David', 'René'],
          'city':['Guatemala', 'Estanzuela', 'Zacapa'],
            'score':[50,70,100]}

In [23]:
df = pd.DataFrame(scores)

In [24]:
df

    name        city  score
0  Hugo,   Guatemala     50
1  David  Estanzuela     70
2   René      Zacapa    100

In [25]:
df['score']

0     50
1     70
2    100
Name: score, dtype: int64

In [26]:
df.score

0     50
1     70
2    100
Name: score, dtype: int64

In [27]:
df['name_city'] = df['name'] + '_' + df['city']

In [28]:
df[df['score']>69]

    name        city  score         name_city
1  David  Estanzuela     70  David_Estanzuela
2   René      Zacapa    100       René_Zacapa

In [31]:
iris = pd.read_csv('iris.csv')

In [32]:
iris.shape

(150, 6)

In [33]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [34]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [35]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [36]:
iris.loc[3:5]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [39]:
iris.loc[3, 'SepalWidthCm']

3.1

In [40]:
iris.iloc[3,0]

4

In [41]:
iris.to_csv ('iris-output.csv', index=False)